@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@100;300&display=swap");

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("assets/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

h1 {
  line-height: 85px;
  color: #fff;
}

p {
      font-size: 22px;
      padding: 20px 0;
      color: #fff;
      line-height: 34px;
}

a {
      text-decoration: none;
      color: white;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 150px;
      position: relative;
      z-index: 20;
}

ul {
      text-decoration: none;
      display: flex;
      justify-content: space-around;
}

li {
      list-style-type: none;
      padding: 0 20px;
      color: #fff;
      font-size: 22px;
      transition: all 0.5s;
}

li:hover {
      color: #cf39f8;
}

button {
      border: 0;
      padding: 20px 40px;
      border-radius: 5px;
      font-size: 20px;
      background-color: #671f7b;
      color: white;
      transition: all 0.5s;
}

button:hover {
      background-color: #571b68;
      cursor: pointer;
}

section {
      padding: 150px 150px 0;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 20;
}

.btn {
      position: absolute;
      z-index: 20;
      padding: 10px;
      bottom: 40px;
      right: 150px;
}

.heading {
      font-size: 90px;
}

.hero_text {
      max-width: 1000px;
}

.logo {
      font-size: 27px;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
}

.logo:hover {
      cursor: pointer;
}

.dark_layer {
      background-color: #39095cde;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 10;
}

.dark-theme {
      background-color: #150c1cde;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 10;
}

